@import-normalize;

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #219653;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.my-masonry-grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px;
    /* gutter size offset */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 30px;
    /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */
    background: transparent;
    margin-bottom: 30px;
}

#input-with-icon-textfield {
    padding-top: 7px;
}

.MuiSvgIcon-root .makeStyles-icon-1:hover,
.MuiSvgIcon-root .makeStyles-icon-1:focus {
    color: #219653;
}
